{% extends "base.html" %}
{% block content %}
<h2>Approved Applications</h2>

<h3>CTO Applications</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Position</th>
            <th>Days</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Date Approved</th>
        </tr>
    </thead>
    <tbody>
        {% for app in cto_approved_apps %}
        <tr>
            <td>{{ app[0] }}</td>
            <td>{{ app[2] }}</td>
            <td>{{ app[3] }}</td>
            <td>{{ app[4] }}</td>
            <td>{{ app[5] }}</td>
            <td>{{ app[6] }}</td>
            <td>{{ app[8] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Leave Applications</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Position</th>
            <th>Days</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Leave Type</th>
            <th>Date Approved</th>
        </tr>
    </thead>
    <tbody>
        {% for app in leave_approved_apps %}
        <tr>
            <td>{{ app[0] }}</td>
            <td>{{ app[2] }}</td>
            <td>{{ app[3] }}</td>
            <td>{{ app[4] }}</td>
            <td>{{ app[5] }}</td>
            <td>{{ app[6] }}</td>
            <td>{{ app[7] }}</td>
            <td>{{ app[8] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Travel Authorities</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Position</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Destination</th>
            <th>Purpose</th>
            <th>Date Approved</th>
        </tr>
    </thead>
    <tbody>
        {% for app in travel_approved_apps %}
        <tr>
            <td>{{ app[0] }}</td>
            <td>{{ app[2] }}</td>
            <td>{{ app[3] }}</td>
            <td>{{ app[4] }}</td>
            <td>{{ app[5] }}</td>
            <td>{{ app[6] }}</td>
            <td>{{ app[8] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
