{% extends "base.html" %}

{% block content %}

<div class="container">
    <h2 class="mb-4">Leave Application</h2>
    <form method="POST" action="{{ url_for('leave_application') }}">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="{{ session['username'] }}" class="form-control" readonly>
        </div>
        <div class="form-group">
            <label for="position">Position:</label>
            <input type="text" id="position" name="position" value="{{ session['position'] }}" class="form-control" readonly>
        </div>
        
        <!-- New Office Field -->
        <div class="form-group">
            <label for="office">Office:</label>
            <input type="text" id="office" name="office" value="{{ user_details[0] }}" class="form-control" readonly>
        </div>
        
        <!-- New Salary Field -->
        <div class="form-group">
            <label for="salary">Salary:</label>
            <input type="number" id="salary" name="salary" value="{{ user_details[1] }}" class="form-control" readonly>
        </div>
        
        <div class="form-group">
            <label for="days">No. of Days applied:</label>
            <input type="number" id="days" name="days" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="start_date">Start Date:</label>
            <input type="date" id="start_date" name="start_date" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="end_date">End Date:</label>
            <input type="date" id="end_date" name="end_date" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="leave_type">Type of Leave to be Availed:</label>
            <select id="leave_type" name="leave_type" class="form-control" required>
                <option value="">Select Leave Type</option>
                <option value="Sick Leave">Sick Leave</option>
                <option value="Annual Leave">Annual Leave</option>
                <option value="Maternity Leave">Maternity Leave</option>
                <option value="Paternity Leave">Paternity Leave</option>
            </select>
        </div>
        <div class="form-group">
            <label for="recommending_approval">Recommending Approval:</label>
            <select id="recommending_approval" name="recommending_approval" class="form-control" required>
                <option value="">Select Recommender</option>
                {% for user in approving_users %}
                    <option value="{{ user }}">{{ user }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}
